# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Vercel
.vercel

# IDX
.idx/

# dotenv environment variables file
.env
.env*.local

# macOS
.DS_Store

# Misc
*.pem
*.log
